@use '../variables' as *;
@use '../mixins' as *;
@use '../breakpoints' as *;


@include xl {
	.hero {
    &__container {
      padding: 100px 60px;
    }
	}
}

@include lg {
  .hero {
    &__button {
      display: flex;
      gap: 7px;
      padding: 20px 66px;

      &--icon {
        display: flex;
      }
    }
  }
}

@include md {
  .hero {
    &__container {
      padding: 60px 16px;
    }
  }
}