@use '../variables' as *;
@use '../mixins' as *;
@use '../breakpoints' as *;

.switch-theme {

  &__button {
    @include flex($align: center, $justify: center);
    width: 36px;
    height: 36px;
    border-radius: 100px;
    transition: background-color .3s ease;

    &--light.active {
      background-color: $text-accent;
    }

    &--dark.active {
      background-color: $text-accent;
    }


      @include hoverDevice {
    &--dark:hover {
      background-color: $border-primary;
      .switch-theme__icon-dark {
        fill: $text-inverse;
      }
    }

    &--light:hover {
      background-color: $text-accent;
      .switch-theme__icon-light {
        fill: $text-inverse;
      }
    }
  }
  }


  &__button:not(:last-child) {
    margin-right: 8px;
  }

  &__icon {
    &-light {
      transition: fill .3s ease;
      height: 22px;
      width: 22px;
      color: $text-inverse;
    }

    &-dark {
      transition: fill .3s ease;
      height: 18px;
      width: 18px;
      color: $text-primary;
    }
  }
}