$font-family: 'Inter', sans-serif;
$size-main-text: 16px;
$container-max-width: 1440px;
$container-padding: 40px;
$container-padding-mobile: 16px;

$hero-button-text: #403f3d;
$hero-button-background: #e1d4c9;
$light-border-inverse: #c1b6ad;
$dark-border-primary: #665f55;
$dark-border-inverse: #c1b6ad;


:root {
	--text-primary: #403f3d;
	--text-inverse: #e1d4c9;
	--text-accent: #b0907a;
	--background-page: #e1d4c9;
	--background-container: #665f55;
	--background-overlay: rgba(64, 63, 61, 0.8);
	--border-primary: #c1b6ad;
	--border-inverse: #665f55;
}

html[data-theme="dark"] {
	--text-primary: #e1d4c9;
	--text-inverse: #e1d4c9;
	--text-accent: #b0907a;
	--background-page: #292826;
	--background-container: #403f3d;
	--background-overlay: rgba(41, 40, 38, 0.8);
	--border-primary: #665f55;
	--border-inverse: #c1b6ad;
}

$text-primary: var(--text-primary);
$text-inverse: var(--text-inverse);
$text-accent: var(--text-accent);
$background-page: var(--background-page);
$background-container: var(--background-container);
$background-overlay: var(--background-overlay);
$border-primary: var(--border-primary);
$border-inverse: var(--border-inverse);